.hero{
    height: 150vh;
    width: 80%;
    background-color: grey;
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 60px;
}
.logo{
    color: goldenrod;
    font-size: 50px;
    letter-spacing: 3px;
    cursor: pointer;
}
  nav ul li{
    list-style-type: none;
    display:inline-block;
    padding: 10px 25px;
    
  }
  nav ul li a:hover{
    color:goldenrod;
    transition: .6s;
  }
  span{
    color:indigo;
  }
  .about{
    width: 70%;
    background-color: black;
  }
  .about-text{
width: 400px;
}
.maina{
    align-items: center;
    justify-content: space-between;
}
.about-text h2{
    color: black;
    text-transform: capitalize;
    font-style: italic;
    font-size: large;
}